<html>
    <head>
        <title>Article</title>
        <link rel="stylesheet" href="./../static/master.css">
    </head>
    <body>
        test
        <img src="/files/test.png/>"
        <a href="/logout">logout</a>
        <form method="POST" action="/">
            <textarea name="comment"></textarea>
            <button type="submit">submit</button>
        </form>
            
        {{ range . }}
        <div class="custom">{{ . }}</div>
        {{ end }}
    </body>
</html>