<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../static/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <img src="/files/test.png"/>
    {{if .}}
        <div class="error">{{ . }}</div>
    {{end}}
    <form method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">login!</button>
    </form>
</body>
</html>